{% set title = 'Register' %}
{% block form %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  
<style>
 form {
     width: 600px;
     height: 600px;
     background-color: gray;
     margin: auto;
     font-size: 12px;
     font-family: 'Times New Roman', Times, serif;
 }
</style>
	<form action="/auth/register" method="post">
		<div class="mb-3">
			<label for="username" class="form-label">username</label>
			<input type="text" class="form-control" name="username" placeholder="Masukkan username" id="username" required autofocus>
		</div>
		<div class="mb-3">
			<label for="first_name" class="form-label">first name</label>
			<input type="text" class="form-control" name="first_name" placeholder="Masukkan username" id="first_name" required>
		</div>
		<div class="mb-3">
			<label for="last_name" class="form-label">last name</label>
			<input type="text" class="form-control" name="last_name" placeholder="Masukkan username" id="last_name" required>
		</div>
		<div class="mb-3">
			<label for="password" class="form-label">password</label>
			<input type="password" class="form-control" name="password" placeholder="Masukkan username" id="password" required>
		</div>
		<div class="mb-3">
			<label for="gender" class="form-label">Gender</label>
			<select class="form-select" aria-label="Pilih gender anda" name="gender">
				<option value="male">
					Male
				</option>
				<option value="female">
					female
				</option>
			</select>
		</div>
		<div class="d-grid">
			<button type="submit" class="btn btn-primary text-light main-bg">Register</button>
		</div>
		<div class="mb-2">
			<p class="fs-6">Sudah Punaya Akun?
				<a href="/auth/login">Login</a>
			</p>
		</div>
	</form>

{% endblock %}